@model string
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <pre>
        @ViewData["hookinfo"]
    </pre>
    
    Last:
    <pre>
        @ViewData["lastUpdate"]
    </pre>
</div>

<div class="text-center">
    <form asp-action="SendPhoto" method="post">
        <input type="submit" value="SendPhoto"/>
    </form>
    <form asp-action="SetHook" method="post">
        <input type="submit" value="SetHook"/>
    </form>

</div>